*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.main{
    width:100%;
    background-color:rgb(195, 226, 239);
    background-position: center;
    background-size:cover;
    height: 100vh;
    position: relative;
    
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0px;
    align-items: center;
    justify-content: space-between;
}
.navbar.logo{
    width: 160px;
    cursor: pointer;
    /* margin-top: -3%;
    margin-left: -2%; */
    background-color: bisque;
}
ul{
    margin-top: -4%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
}
ul li a{
    background-color: rgb(7, 5, 50);
    color: rgb(220, 220, 249);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    margin-top:-3%
}
ul li a:hover{
    background-color:rgb(118, 67, 6);
    color:rgb(235, 226, 151);
}
.info{
    /* margin-left: 7%;
    margin-top: 6%; */
}
h1{font-size: 35px;
color: rgb(13, 3, 69);
line-height: 40px;
margin-right:150px;
margin-top: 50px;
margin-bottom: 50px;}
.info h3{
    font-size:30px;
    color: rgb(59, 3, 26);
    letter-spacing: 1px;
    line-height: 24px;
    margin-top:50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
h6{
    color: rgb(38, 72, 38);
    font-size:23px;
    width: 800px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin-top:50px;
    margin-bottom: 50px;
    font-weight: bold;
}
span{
    color: darkorange;
}
div i{
    text-align: center;
}
button{
    color: white;
    background-color: orange;
    font-weight: bolder;
    padding: 10px;
    border:2px solid black;
    border-radius: 5px;
}
/* 131, 58, 180 */
i .fa-brands fa-instagram{
    background-color: rgb(131,58,180);
    background-size: cover;

}
i .fa-brands fa-twitter{
    background-size: cover;
  
}
.image{
    width: 40%;
    height:60%;
    position: absolute;
    right: 100px;
    bottom:0px;
}
.image img{
   position:absolute;
   height: 100%;
   left: 40%;

   /* transform: translate(-60); */
   bottom: 0%;
   transition: left 2s ease;
}
.image:hover.girl{
    transform: translate(-60);
 left:55%;
}